/Data Visualization/data-viz/Include/
/Data Visualization/data-viz/data-viz-env/Include/
/Data Visualization/data-viz/data-viz-env/Lib/
/Data Visualization/data-viz/data-viz-env/Scripts/
/Data Visualization/data-viz/data-viz-env/share/
Data Visualization/data-viz/data-viz-env/pyvenv.cfg
/Numpy/bin/
/Numpy/include/
/Numpy/lib/
Numpy/pyvenv.cfg
/Machine Learning/Include/
/Machine Learning/Include/
/Machine Learning/Lib/
/Machine Learning/Scripts/
/Machine Learning/share/
Machine Learning/pyvenv.cfg